.profile__info {
  margin-top: 0;
  margin-bottom: 0;
  row-gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 336px;
  min-width: 282px;
}

@media screen and (max-width: 400px) {
  .profile__info {
    gap: 5px;
  }
}
