.popup__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  padding-bottom: 49px;
}

@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    line-height: 1.22;
    max-width: 238px;
  }
}
