.element__title-button {
  max-width: 246px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  /* padding: 25px 20px 25px 21px; */
  padding: 18px 15px 22px 21px;
  margin: 0;
}
