.profile__subtitle {
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media screen and (max-width: 400px) {
  .profile__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}
