.popup__container {
  background: white;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  display: flex;
  padding: 34px 36px 37px;
  color: #000;
  box-sizing: border-box;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .popup__container {
    width: 282px;
    padding: 24px 22px;
  }
}
