.header {
  width: 880px;
  height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1040px) {
  .header {
    width: 320px;
    height: 56px;
    margin-top: 28px;
    padding: 0;
  }
}
